@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400, 700");

:root {
  --black: rgba(0, 0, 0, 1);
  --blue-ribbon: rgba(13, 110, 253, 1);
  --log-cabin: rgba(36, 35, 35, 1);
  --shark: rgb(141, 129, 129);
  --abbey: rgba(36, 36, 36, 1);
  --alto: rgba(217, 217, 217, 1);
  --rusty-red: rgba(220, 53, 69, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-m: 25px;
  --font-size-1: 30px;
  --font-size-xxl: 60px;
  --font-size-m2: 40px;

  --font-family-inter: "Inter";
  --font-family-inter-regular: "inter-Regular";
  --font-family-noto_sans: "Noto Sans";
}

.inter-normal-black-40px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}

.notosans-normal-black-25px-2 {
  color: var(--black);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}

.notosans-bold-white-30px {
  color: var(--white);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-1);
  font-weight: 700;
  font-style: normal;
}

.notosans-bold-blue-ribbon-30px {
  color: var(--blue-ribbon);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-1);
  font-weight: 700;
  font-style: normal;
}

.inter-regular-normal-black-40px {
  color: var(--black);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}

.notosans-bold-black-30px {
  color: var(--black);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-1);
  font-weight: 700;
  font-style: normal;
}

.notosans-bold-white-60px {
  color: var(--white);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: normal;
}

.notosans-bold-black-60px {
  color: var(--black);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0 auto;
}
.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.desktop-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1024px;
  width: 1519px;
}

.overlap-group6 {
  align-items: flex-start;
  background-color: var(--log-cabin);
  border: 5px solid;
  border-color: var(--abbey);
  display: flex;
  height: 198px;
  min-width: 311px;
  padding: 0px 599.3px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  gap: 35px;
  min-width: 1412px;
}

.overlap-group1 {
  height: 826px;
  position: relative;
  width: 171px;
}

.rectangle-17 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--abbey);
  height: 206px;
  left: 0;
  position: absolute;
  top: 0;
  width: 171px;
}

.rectangle-17:hover {
  background-color: var(--shark);
}

.rectangle-17-1:hover {
  background-color: var(--shark);
}

.rectangle-18-1:hover {
  background-color: var(--shark);
}

.rectangle-18:hover {
  background-color: var(--shark);
}

.rectangle-19:hover {
  background-color: var(--shark);
}

.rectangle-20:hover {
  background-color: var(--shark);
}

.rectangle-17-1 {
  background-color: var(--alto);
  border: 3px solid;
  border-color: var(--abbey);
  height: 206px;
  left: 0;
  position: absolute;
  top: 0;
  width: 171px;
  min-width: 100px;
}

.rectangle-18-1 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--abbey);
  height: 206px;
  left: 0;
  position: absolute;
  top: 205px;
  width: 171px;
  min-width: 100px;
}

.rectangle-19-1 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--abbey);
  height: 206px;
  left: 0;
  position: absolute;
  top: 408px;
  width: 171px;
  min-width: 100px;
}

.rectangle-18 {
  background-color: var(--alto);
  border: 3px solid;
  border-color: var(--abbey);
  height: 206px;
  left: 0;
  position: absolute;
  top: 205px;
  width: 171px;
  min-width: 100px;
}

.rectangle-19 {
  background-color: var(--alto);
  border: 3px solid;
  border-color: var(--abbey);
  height: 206px;
  left: 0;
  position: absolute;
  top: 408px;
  width: 171px;
  min-width: 100px;
}

.rectangle-20-1 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--abbey);
  height: 206px;
  left: 0;
  position: absolute;
  top: 612px;
  width: 171px;
  min-width: 100px;
}

.rectangle-20 {
  background-color: var(--alto);
  border: 3px solid;
  border-color: var(--abbey);
  height: 206px;
  left: 0;
  position: absolute;
  top: 612px;
  width: 171px;
  min-width: 100px;
}

.text-1-3 {
  left: 13px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 37px;
  width: 145px;
}

.text-2 {
  left: 13px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 51px;
  width: 145px;
}

.text-3 {
  left: 13px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 51px;
  width: 145px;
}

.text-4 {
  left: 13px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 51px;
  width: 145px;
}

.number {
  left: 58px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 86px;
  width: 56px;
}

.number-1 {
  left: 58px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 120px;
  width: 56px;
}

.number-2 {
  left: 58px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 120px;
  width: 56px;
}

.number-3 {
  left: 55px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 120px;
  width: 61px;
}

.rectangle-21 {
  background-color: #00b2ff;
  border-radius: 15px;
  height: 33px;
  left: 51px;
  position: absolute;
  top: 143px;
  width: 69px;
}

.new {
  color: var(--white);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-1);
  font-weight: 400;
  left: 51px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 140px;
  white-space: nowrap;
  width: 69px;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 38px;
  min-height: 584px;
  width: 1206px;
}

.overlap-group-container {
  align-items: flex-start;
  display: flex;
  gap: 21px;
  height: 171px;
  min-width: 1198px;
}

.overlap-group2 {
  align-self: flex-end;
  height: 170px;
  position: relative;
  width: 1048px;
}

.text-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 47px;
  width: 205px;
}

.text-6 {
  left: 150px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 504px;
}

.ice-2-1 {
  left: 100px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 58px;
  width: 751px;
}

.rectangle-2 {
  background-color: var(--blue-ribbon);
  border-radius: 25px;
  height: 140px;
  left: 919px;
  position: absolute;
  top: 0;
  width: 129px;
}

.rectangle-2-1 {
  background-color: var(--white);
  border: 3px solid;
  border-radius: 25px;
  border-color: var(--blue-ribbon);
  height: 140px;
  left: 919px;
  position: absolute;
  top: 0;
  width: 129px;
}

.rectangle-2-2 {
  background-color: var(--white);
  border: 3px solid;
  border-radius: 25px;
  border-color: var(--blue-ribbon);
  height: 140px;
  left: 1000px;
  position: absolute;
  top: 0;
  width: 129px;
}

.text {
  left: 923px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 51px;
  width: 122px;
  white-space: pre-line;
}

.text-cp {
  left: 1007px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 44px;
  width: 122px;
  white-space: pre-line;
}

.x411-gcc-4-411 {
  left: 61px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 116px;
  width: 751px;
}

.x411-gcc-4-411-1 {
  left: 61px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 107px;
  width: 751px;
}

.x411-gcc-4-411-2 {
  left: 61px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 107px;
  width: 751px;
}

.overlap-group {
  align-items: flex-end;
  background-color: var(--rusty-red);
  border-radius: 25px;
  display: flex;
  height: 140px;
  justify-content: flex-end;
  width: 129px;
}

.text-1 {
  letter-spacing: 0;
  line-height: 147px;
  min-height: 53px;
  text-align: center;
  width: 122px;
}

.line-1 {
  align-self: flex-end;
  height: 2px;
  margin-top: 3px;
  width: 1196px;
}

.overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  gap: 21px;
  height: 162px;
  margin-top: 33px;
  min-width: 1198px;
}

.overlap-group-1 {
  align-self: flex-end;
  height: 161px;
  position: relative;
  width: 1048px;
}

.text-1-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 205px;
}

.text-1-2 {
  left: 150px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 504px;
}

.ice-2 {
  left: 100px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 54px;
  width: 751px;
}

.line {
  align-self: flex-end;
  height: 2px;
  margin-top: 8px;
  width: 1196px;
}

.overlap-group-container-2 {
  align-items: flex-start;
  display: flex;
  gap: 21px;
  height: 162px;
  margin-top: 33px;
  min-width: 1198px;
}
